.carousel-services-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border: none;
}

.carousel-container {
    position: relative;
    display: flex;
    max-width: 95%;
    height: 17rem;
    background-color: beige;
    border: none;
}

.carousel-container button {
    padding: 1rem 1rem;
    background-color: transparent;
    border: none;
}

.left {
    left: 0px;
    position: absolute;
}

.right {
    right: 0px;
    position: absolute;
}

/* carousel.innerHTML += `<div>
<img src="${e.poster}" ></img>
<p>${e.services}</p>
</div>` */

.carousel {
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: none;
}

.carousel .card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    height: 450px;
    overflow: hidden;
    background-color: cadetblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-container .card img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.carousel-container .card p {
    padding: 1rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0;
}