/* <div class="courses-container">
        <% courses.forEach(e => { %>
            <div class="course-card">
                <div class="course-picture"><img src=`${e.imageUrl}` alt=""></div>
                <div class="course-title"><%= e.businessOnlineCourseTitle %></div>
                <div class="course-expert-name"><%= e.name %></div>
                <div class="course-description"><%= e.courseDescription %></div>
                <div class="price"><%= e.price %></div>
                <div class="ratings">
                    <% for (let i=0; i< e.ratings; i++) { %>
                        <div class="stars"></div>
                        <% } %>
                </div>
            </div>
            <% }) %>
    </div>
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(135deg, #062325, #143e42, #2f686d, #387b81, #3d8e94);
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.header {
    height: 5rem;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    overflow: hidden;
    background: transparent;
}

.courses-container {
    width: 85%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 80px;
    margin: 20px auto;
}


.course-card {
    background-color: #062325;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    position: relative;
    overflow: hidden;
}

.course-card:hover {
    background-color: rgba(255, 255, 255, 0.036);
}


.course-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(47, 104, 109, 0.4) 0%, rgba(56, 123, 129, 0.6) 50%, rgba(61, 142, 148, 0.4) 100%);
    z-index: -1;
}


.course-description {
    height: 3.65rem;
    overflow: hidden;
    color: #ffffff;
    margin-top: 10px;
}

.course-picture {
    width: 95%;
    height: 10rem;
    background: linear-gradient(135deg, #062325, #143e42, #2f686d, #387b81, #3d8e94);
}

.course-title {
    margin: 10px 0px;
    font-weight: bold;
    height: 2.3rem;
    overflow: hidden;
    color: #fff;
}

.ratings {
    display: flex;
    gap: 2px;
    margin-top: 10px;
}

.stars {
    padding: 4px;
    background: #ffbb00;
    border-radius: 50%;
}

.price {
    margin-top: auto;
    font-size: 1rem;
    font-weight: bold;
    color: #ffbb00;
}